{% extends 'core/base.html' %} {% load static %} {% block title %}
<h1> Sonika dave Vyas D/o {{block.super}}</h1> {% endblock title %}{% block image %} <img src="{%  static 'core\images\sonika1.jpg' %}" alt="sonika"> {% endblock image %}{% block content %}{{block.super}}{% endblock content %} {% block content1 %}
<th scope="row">Marks obtain </th>
<td>{{datas.hin}}</td>
<td>{{datas.eng}}</td>
<td>{{datas.san}}</td>
<td>{{datas.eco}}</td>
<td>{{datas.soc}}</td>
<td>{{totals.total}}</td>
<td>{{res.tl}}</td>

{% endblock content1 %}

<!-- <td>{{hin}}</td>
<td>{{eng}}</td>
<td>{{san}}</td>
<td>{{eco}}</td>
<td>{{soc}}</td>
<td>{{total}}</td> -->